Discord/
Electron/
GIMP/
ZapZap/
dconf/
discord/
glib-2.0/
go/
gtk-2.0/
gtk-3.0/
kde.org/
kitty/
lazygit/
libreoffice/
menus/
neofetch/
nvim/
pulse/
qBittorrent/
session/
simple-update-notifier/
spotify/
vesktop/
vlc/
yay/
yazi/
QtProject.conf
dolphinrc
kiorc
mimeapps.list
trashrc
user-dirs.dirs
user-dirs.locale
